# Maven build directory
/target/

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Spring Boot application properties
/application.properties

# Log files
/logs/

# Gradle build directory (if using Gradle)
/build/

# IDE-specific files (NetBeans)
/nb-configuration.xml

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db